<div class="portal-page">
  <div class="portal-container">
    <h1 class="title">Bienvenue dans ST2I</h1>
    <div class="title-underline"></div>

    <!-- Espace Citoyen -->
    <div class="section">
      <div class="section-title">Espace Employé</div>
      <div class="section-line"></div>

      <div class="cards one">
        <a class="card" routerLink="/portal" (click)="$event.preventDefault()">
          <div class="icon-circle">
            <i class="pi pi-user"></i>
          </div>
          <div class="card-title">Profile</div>
          <div class="card-sub">Accéder à l’application</div>
        </a>
      </div>
    </div>

    <!-- Espace Professionnel -->
    <div class="section">
      <div class="section-title">Espace Administratif</div>
      <div class="section-line"></div>

      <div class="cards one">
        <a class="card" routerLink="">
          <div class="icon-circle">
            <i class="pi pi-desktop"></i>
          </div>
          <div class="card-title">Administration</div>
          <div class="card-sub">Accéder à l’application</div>
        </a>
      </div>
    </div>

    <div class="logout-wrap">
      <button class="logout-btn" (click)="logout()">
        Se Déconnecter
      </button>
    </div>
  </div>
</div>